---
import "../styles/global.css";
---

<div
  class="fixed bottom-24 left-1/2 -translate-x-1/2 flex items-center px-4 py-3 text-white bg-black/80 rounded-lg opacity-0 pointer-events-none z-50 transition-opacity duration-300 justify-center"
  id="hint"
  role="alert"
>
  <p class="text-sm font-normal">Use arrow keys to navigate</p>
</div>

<script>
  const hint = document.getElementById("hint") as HTMLElement;

  setTimeout(() => {
    hint.classList.add("opacity-100");
    setTimeout(() => {
      hint.classList.remove("opacity-100");
    }, 3000);
  }, 1000);
</script>
