---
interface Props {
  url: string;
  volume: number;
}

const { url, volume } = Astro.props;
---

<div class="mb-6">
  <div class="aspect-2/3 relative overflow-hidden rounded-xl shadow-2xl">
    <img
      src={url}
      alt={`Volume ${volume} Cover`}
      class="w-full h-full object-cover"
    />
  </div>
</div>
